body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: blue;
  padding: 20px;
}

header img {
  height: auto;
  width: auto;
}

header span {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav {
  background-color: black;
  padding: 10px 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ccc;
}

main {
  padding: 20px;
}

.top-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}

.programming {
  margin-top: 20px;
}

.course-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.course-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.course-buttons button:hover {
  background-color: #ddd;
  border: none;
}

.course-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.completed {
  border: 2px solid green;
}

.not-completed {
  border: 2px solid red;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
}

.course-credits {
  font-size: 16px;
}

.course-description {
  font-size: 14px;
  margin-top: 10px;
}

.course-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.course-buttons button:hover {
  background-color: #ddd;
  border: none;
}


@media screen and (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
